/* ==========================================================================
   General
   ========================================================================== */

/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: 'Noto Sans';
} */

h1,
h2,
h3,
h4 {
  /* font-family: "Open Sans"; */
  padding-bottom: 8px;
  border-bottom: 1px solid #dedede;
}

pre {
  padding: 0;
  border: none;
}

pre code {
  font-size: 1.1em !important;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0px;
}

.navbar-default {
  background: #0a5194;
}

.nav li a {
  color: #fff !important;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #0a5194;
  border-left: 1px solid #fff;
}

.nav li.active a {
  background-color: #3b74a9 !important;
}

.nav li a.\/tuyen-dung\/ {
  background-color: #ff0000;
}

.page-title {
  color: #4e443c;
  /* font-family: "Open Sans"; */
  text-transform: none;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 2em;
  background: #fff;
  padding: 5px 15px;
}

.page-title span {
  color: #0a5194;
  font-weight: bold;
}

.gsc-control-cse .gsc-table-result {
  font-family: inherit;
}

.gsc-control-cse .gsc-input-box {
  height: inherit;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button,
input.gsc-search-button-v2 {
  box-sizing: content-box;
  line-height: normal;
  margin-top: 0px;
}

.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 5px 0 20px !important;
}

/* ==========================================================================
   Posts
   ========================================================================== */

#body {
  display: block;
  padding-top: 30px;
  background: #dedede;
}

#blog-banner {
  background: #0a5dab;
  padding: 0 15px;
}

#blog-banner img {
  max-width: 100%;
}

@media (max-width: 1000px) {
  #blog-banner .coworker {
    display: none;
  }
}

article {
  background: #fff;
  box-shadow: 1px 1px 2px #ccc;
  border: 1px solid #ccc;
  margin: 20px auto;
}

/* Post Header */

.post-header {
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.post-header h2 {
  font-size: 1.7em;
  margin: 0 auto;
  padding: 15px;
  font-weight: bold;
}

.post-header h2 a {
  text-decoration: none;
}

/* Post Meta */

.post-meta {
  border-bottom: 1px dashed #ccc;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.post-meta .post-date {
  display: inline-block;
  padding-left: 15px;
}

.post-meta .post-author {
  display: inline-block;
  padding-left: 15px;
}

.post-meta .post-author img {
  max-height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.post-meta .post-tag {
  display: inline-block;
  padding-left: 15px;
}

/* Post Featured */

.post-featured {
  padding: 0 15px 15px 15px;
}

.post-featured-img {
  text-align: center;
}

.post-featured img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.post-featured-single {
  position: relative;
}

.post-featured .post-author {
  position: absolute;
  bottom: 35px;
  left: 35px;
}

.post-featured .post-author a {
  text-decoration: none;
}

.post-featured .post-author img {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.post-featured .post-author span {
  color: #fff;
  padding: 5px;
  font-size: 1.7em;
  background: #000;
}

.post-featured .post-share {
  position: absolute;
  right: 25px;
  bottom: 35px;
}

.post-featured .post-share .share-button {
  display: inline-block;
  margin-right: 5px;
}

/* Post Excerpt & Content */

.post-excerpt,
.post-content {
  padding: 15px;
  font-size: 1.1em;
  line-height: 25px;
  text-align: justify;
}

.post-content h1,
h2,
h3,
h4,
h5 {
  margin-top: 20px;
  font-weight: bold;
}

.post-content h5 {
  font-size: 1em;
  font-weight: bold;
}

.post-content img {
  max-width: 100%;
  display: block;
  margin: 10px auto;
}

.post-content .caption {
  text-align: center;
  margin-bottom: 10px;
}

.post-content li {
  margin-bottom: 10px;
}

/* Post Footer */

.post-footer {
  position: relative;
  padding: 20px 15px;
  border-top: #ebf2f6 1px solid;
}

.post-footer .share-button {
  display: inline-block;
  margin-right: 5px;
}

.post-related {
  background: #fff;
  padding: 15px;
  margin-bottom: 30px;
}

.post-related .related-box {
  position: relative;
  margin-bottom: 10px;
}

.post-related img {
  width: 100%;
  height: 145px;
  object-fit: cover;
}

.post-related a {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
}

.post-comments {
  padding: 10px 15px;
  background: #fff;
  margin-bottom: 30px;
}

.fb_iframe_widget span {
  vertical-align: baseline !important;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar {
  margin-top: 20px;
  background: #fff;
  padding: 10px 15px 15px 15px;
  box-shadow: 1px 1px 3px #ccc;
}

.sidebar-box {
  margin-bottom: 25px;
}

.sidebar-title {
  font-size: 1.7em;
  font-weight: bold;
  margin: 0 0 20px 0;
  padding-bottom: 5px;
  /* font-family: "Open Sans"; */
  border-bottom: 2px solid #ccc;
}

.media-body .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.media-body span {
  padding-top: 3px;
  font-size: 0.9em;
  color: #999;
  display: block;
}

.tag {
  padding: 7px 10px;
  font-size: 1em;
  margin: 0 5px 7px 0;
  display: inline-block;
}

.tag a {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
}

.js-toc {
  line-height: 25px;
  margin-left: -25px;
}

.js-toc ul {
  -webkit-padding-start: 25px;
}

.js-toc li {
  list-style-type: none;
}

/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
  height: 80px;
  border-bottom: 5px solid #0a5dab;
  line-height: 80px;
  background: #333;
}

#footer .copyright {
  color: #fff;
  padding-left: 25px;
  text-transform: uppercase;
}

#footer .copyright a {
  color: #fff;
  text-decoration: none;
}

/* Facebook Comments */
.post-comments .fb_iframe_widget,
.post-comments .fb_iframe_widget span,
.post-comments .fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}
